@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.infoText {
		@apply px-6 py-4 bg-mainBackground rounded-lg text-xs border-white/30 border hover:bg-white/5 hover:cursor-pointer;
	}
}

/* Custom scrollbar styling */
* {
	scrollbar-width: thin; /* Firefox */
	scrollbar-color: #1f1f1f #343541; /* Firefox */
}

*::-webkit-scrollbar {
	width: 10px; /* WebKit (Chrome, Safari, etc.) */
}

*::-webkit-scrollbar-track {
	background: #343541;
}

*::-webkit-scrollbar-thumb {
	background: #1f1f1f;
	border-radius: 5px;
}

/* DNA loader styling */
svg.dna-wrapper circle:nth-child(odd) {
	fill: #ffffff !important;
}
svg.dna-wrapper circle:nth-child(even) {
	fill: #c4d7ff !important;
}
