@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.infoText {
		@apply p-4 bg-gray-700/50 rounded-lg max-w-sm hover:bg-gray-900/60 hover:cursor-pointer;
	}
}

/* Custom scrollbar styling */
* {
	scrollbar-width: thin; /* Firefox */
	scrollbar-color: #1F1F1F #343541; /* Firefox */
}

*::-webkit-scrollbar {
	width: 10px; /* WebKit (Chrome, Safari, etc.) */
}

*::-webkit-scrollbar-track {
	background: #343541;
}

*::-webkit-scrollbar-thumb {
	background: #1F1F1F;
	border-radius: 5px;
}

/* DNA loader styling */
svg.dna-wrapper circle:nth-child(odd) {
	fill: #ffffff !important;
}
svg.dna-wrapper circle:nth-child(even) {
	fill: #c4d7ff !important;
}
